# Vlan
subnet {{ subnet }} netmask {{ netmask }} {
	interface "{{ nic }}";
	range {{ range_start }} {{ range_end }};
        option routers {{ router1 }}, {{ router2 }};
	option broadcast-address {{ broadcast }};
}
